venv/
.venv/
env/
__pycache__/

.idea/
.vscode/
.vs/
*.swp
*.iml

model/*.pth
model/*.pt
model/*.json
model/*.npz

data/*.json
data/*.jsonl
data/*.csv
data/*.npz
!data/train_axample.jsonl
!data/advices.json