venv/
.venv/
env/
__pycache__/

.idea/
.vscode/
.vs/
*.swp
*.iml

models_cache/

model/*
!model/classifier_model3.pth
!model/tips.pt

data/*
!data/tips.json
!data/predict_eval_example.json
!data/predict_eval_real_template.json
!data/advices_example.json
!data/train_example.jsonl